.panel {
    width: 95%;
}

.table-fixed thead {
    width: 100%;
}

.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

.table-fixed tbody td, .table-fixed thead > tr > th {
    float: left;
    border-bottom-width: 0;
}

.form-signin {
    max-width: 300px;
    margin: 0 auto;
}

.ash-bg {
    background: #eee;

}

.empty-header {
    margin-top: 50px;
}

.underline{
    text-decoration: underline;
}
