<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Novus MEC Reporting</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="../css/Site.css" rel="stylesheet">

    <script src="../js/lib/jquery.min.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/lib/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="../js/Index.js"></script>

</head>
<body>
<div class="container">
    <div class="col-md-12">
        <img src="../img/1095B-sample.jpg" class="img-responsive center-block">
    </div>
    <div class="col-md-12">
        <div class="row">
            <button class="btn-warning center-block" onclick="location.href='coveredIndividual.html'">Close</button>
        </div>
    </div>
</div>
</body>
</html>
